<h1>The closest electric fuel stations for <%= @station.fuel_type %>is <%= @station.name %> at <%= @station.address %></h1>
<h1 class="access_times">Access Times: <%= @station.hours %></h1>
<h1 class="distance">Distance: <%= @station.distance %></h1>
<h1 class="travel_time">Travel Time: <%= @station.travel_time %></h1>
<h1 class="directions">Directions: <%= @station.directions %></h1>
